aiogram==3.13.1
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
yookassa==3.0.0
aiocryptopay==0.7.5
requests==2.32.3
fastapi==0.115.4
uvicorn[standard]==0.32.0
pydantic==2.9.2
pydantic-settings==2.6.1
python-dotenv==1.0.1
aiohttp==3.10.11
aiofiles==24.1.0
